body {
    margin: 0;
}

#form-container {
    max-height: 80vh;
}

#register-services > a:hover {
    opacity: 0.8;
    transition: 0.2s;
}

#back-link {
    top: 10px;
    left: 20px;
}

#back-link:hover {
    opacity: 0.7;
    transition: 0.2s;
}
