body {
    margin: 0;
}

#body-container {
    font-size: 15px;
    min-height: 100vh;
}

.content-container {
    min-height: inherit;
    max-width: 1180px;
    margin: 10px auto;
}

main > .content-container {
    background: rgba(0, 0, 0, 0.8);
    padding: 50px 30px;
    border-radius: 10px;
}

header {
    min-height: 110px;
    min-width: 1100px;
}

main {
    flex: 1 0 auto;
}

footer {
    min-height: 350px;
    min-width: 1100px;
}

#search-icon {
    top: 12px;
    left: 12px;
    fill: black;
    width: 18px;
}

#search {
    padding-left: 40px;
    padding-right: 20px;
    outline: none;
    border: none;
    height: 43px;
    width: 180px;
    border-radius: 20px;
}

#search-header {
    margin-right: 60px;
}

#profile-icon {
    width: 24px;
}

#profile-icon:hover {
    opacity: 1;
}

nav {
    height: 43px;
    margin-right: 84px;
}

nav > a {
    width: 180px;
    color: white;
}

a, a:hover {
    outline: none;
    text-decoration: none;
}

nav > a:hover {
    color: black;
    background: white;
    transition: 0.2s;
}

#sign-in {
}

#sign-in > span {
    margin-left: 5px;
}

#sign-in:hover {
    color: black !important;
    background: white;
    transition: 0.2s;
}

#sign-in:hover > svg {
    fill: black;
}

.icon {
    fill: white;
    width: 32px;
}

.icon:hover {
    opacity: 0.7;
    transition: 0.2s;
}

.user-profile-icon {
    min-width: 40px;
}

.user-profile-icon > a > img {
    width: 35px;
}

.user-profile-icon > img:hover {
    opacity: 0.7;
    transition: 0.2s;
}

#user-logout {
}

#user-logout:hover {
    color: black !important;
    background: white;
    transition: 0.2s;
}

.active {
    color: black !important;
    background: white !important;
}

.logo {
    height: 60px;
    min-width: 360px;
    transition: 0.1s;
}

.logo > a:hover {
    font-size: 27px;
    opacity: 0.7;
    transition: 0.2s;
}

.logo a {
    font-size: 26px;
}

#copyright {
    min-width: 360px;
}