#profile-image:hover {
    opacity: 0.8;
    transition: 0.2s;
}

#flash-error, #flash-success, #flash-notice {
    max-width: 400px;
}

#flash-error > #flash-label {
    color: rgb(255, 0, 0);
}

#flash-error {
    background: rgb(255, 1, 1, 0.6);
}

#flash-success {
    background: rgb(0, 128, 0, 0.6);
}

#flash-success > #flash-label {
    color: rgb(0, 128, 0);
}

#flash-notice {
    background: rgba(0, 0, 0, 0.8);
}

#flash-notice > #flash-label {
    color: white;
}

#flash-notice > li {
    color: white;
}

#profile-image > div > svg {
    width: 100px;
}

#add-icon {
    right: 0px;
    bottom: 0;
    width: 19px;
}

.upload-img {
    height: 100px;
    width: 100px;
}
