<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/icon.svg') }}">
        {{ encore_entry_link_tags('bootstrap') }}
        {{ encore_entry_link_tags('auth_base') }}
        <script src="https://unpkg.com/vue@next"></script>
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body class="bg-black">
        <div id="body-container" class="d-flex flex-column justify-content-center align-items-center">
            <a id="back-link" href="{{ app.request.headers.get('referer') is same as(app.request.uri) ? '/home' : app.request.headers.get('referer') }}"
                class="btn btn-light py-2 px-3 position-absolute">
                Back
            </a>
            <div id="form-header" class="text-white my-3">
                {% block header %}
                {% endblock %}
            </div>
            <div id="form-container" class="bg-white rounded-3 mb-5 mx-3 py-3 px-5 overflow-auto">
                {% block form %}
                {% endblock %}
            </div>
        </>
    </body>
</html>
