<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/icon.svg') }}">
        {{ encore_entry_link_tags('bootstrap') }}
        {{ encore_entry_link_tags('base') }}
        <script src="https://unpkg.com/vue@next"></script>
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body class="bg-dark">
        <div id="body-container" class="d-flex flex-column">
            <header class="text-light bg-black">
                <div class="content-container d-flex align-items-center justify-content-center">
                    <div id="search-header" class="position-relative">
                        <svg version="1.1" id="search-icon" class="position-absolute icon" role="button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            width="18px" height="18px" viewBox="0 0 612.08 612.08" style="enable-background:new 0 0 612.08 612.08;"
                            xml:space="preserve">
                            <g>
                                <path d="M237.927,0C106.555,0,0.035,106.52,0.035,237.893c0,131.373,106.52,237.893,237.893,237.893
                                    c50.518,0,97.368-15.757,135.879-42.597l0.028-0.028l176.432,176.433c3.274,3.274,8.48,3.358,11.839,0l47.551-47.551
                                    c3.274-3.274,3.106-8.703-0.028-11.838L433.223,373.8c26.84-38.539,42.597-85.39,42.597-135.907C475.82,106.52,369.3,0,237.927,0z
                                    M237.927,419.811c-100.475,0-181.918-81.443-181.918-181.918S137.453,55.975,237.927,55.975s181.918,81.443,181.918,181.918
                                    S338.402,419.811,237.927,419.811z"/>
                            </g>
                        </svg>
                        <input id="search" class="py-2 outline-none" type="text" placeholder="Search">
                    </div>
                    <nav class="d-flex border border-light rounded-pill">
                        <a href="{{ path('movie_index') }}" class="d-flex nav-item align-items-center justify-content-center rounded-pill me-2 {{ app.request.pathinfo == path('movie_index') ? 'active' : '' }}">
                            Home
                        </a>
                        <a href="{{ path('movie_authors') }}" class="d-flex nav-item align-items-center justify-content-center rounded-pill me-2 {{ app.request.pathinfo == path('movie_authors') ? 'active' : '' }}">
                            Authors
                        </a>
                        <a href="{{ path('movie_subscriptions') }}" class="d-flex nav-item align-items-center justify-content-center rounded-pill me-2 {{ app.request.pathinfo == path('movie_subscriptions') ? 'active' : '' }}">
                            Subscriptions
                        </a>
                        <a href="{{ path('cooperation_index') }}" class="d-flex nav-item align-items-center justify-content-center rounded-pill {{ app.request.pathinfo == path('cooperation_index') ? 'active' : '' }}">
                            Cooperation
                        </a>
                    </nav>
                        {% if false %}
                        <div id="user-profile-header" class="d-flex align-items-center">
                            <div class="user-profile-icon border-end border-1 border-light pe-3">
                                <a href="{{ path('user_account') }}">
                                    <img src="{{ asset('images/image_icon.svg') }}" alt="profile-icon"  role="button">
                                </a>
                            </div>
                            <a id="user-logout" class="ms-2 text-white rounded-3 p-2" href="{{ path('user_logout') }}">
                                Exit
                            </a>
                        </div>
                        {% else %}
                        <div id="sign-in" class="text-light py-2 px-3 rounded-3" role="button">
                            <svg data-name="Layer 1" id="profile-icon" class="icon align-middle" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                                <path d="M25,1A24,24,0,1,0,49,25,24,24,0,0,0,25,1Zm0,46A22,22,0,1,1,47,25,22,22,0,0,1,25,47Z"/>
                                <path d="M25,25.41a13,13,0,0,0-13,13,1,1,0,0,0,2,0,11,11,0,1,1,22,0,1,1,0,0,0,2,0A13,13,0,0,0,25,25.41Z"/>
                                <path d="M25,23.71a7,7,0,0,0,6.81-7.2A7,7,0,0,0,25,9.3a7,7,0,0,0-6.81,7.21A7,7,0,0,0,25,23.71ZM25,11.3a5,5,0,0,1,4.81,5.21A5,5,0,0,1,25,21.71a5,5,0,0,1-4.81-5.2A5,5,0,0,1,25,11.3Z"/>
                            </svg>
                            <span class="align-middle">Sign In</span>
                        </div>
                       {% endif %}
                </div>
            </header>
            <main class="text-white">
                <div class="content-container">
                    {% block main %}
                    {% endblock %}
                </div>
            </main>
            <footer class="bg-black">
                <div class="content-container position-relative">
                    <div class="content-container d-flex flex-column justify-content-center align-items-center">
                        <div class="mb-2">
                            3rd floor, Santa Monica, CA, San Francisko
                        </div>
                        <div class="mb-4">
                            (359) 0 123 456 789 - ilyandreeev@gmail.com
                        </div>
                        <div id="social-networks">
                            <svg id="facebook-icon" class="icon me-3" role="button" enable-background="new 0 0 512 512" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g>
                                    <path d="M258.8,507.2C120.4,507.8,6.6,392.6,9.9,251.9C13,117.9,124,7.2,262,8.7C398.7,10.2,511.8,124,508.1,264.9   C504.6,398.3,394.5,507.9,258.8,507.2z M40.2,258.3C41.3,383.6,142.9,480.1,262.9,478c116.2-2.1,214.7-96.8,214.7-220   c0-125.3-102.4-222.2-222.8-219.9C138.6,40.2,41,135.2,40.2,258.3z"/>
                                    <path d="M206.8,433.4c0-58.9,0-117.3,0-176.3c-13,0-25.6,0-38.5,0c0-20,0-39.4,0-59.4c1.7-0.1,3.4-0.3,5.2-0.3   c9.3,0,18.7-0.2,28,0.1c4.1,0.1,5.5-1,5.4-5.2c-0.2-15.2-0.2-30.3-0.1-45.5c0.1-17.1,4.9-32.6,17.1-45c11.8-12,26.9-18.5,43.3-19.5   c26.4-1.5,52.9-1.3,79.4-1.8c0.3,0,0.6,0.3,1.2,0.6c0,20.1,0,40.3,0,61c-1.9,0.1-3.7,0.2-5.4,0.2c-12,0-24,0-36,0   c-12.1,0.1-19.2,7.3-19.2,19.2c0,11.3,0,22.7,0.1,34c0,0.3,0.2,0.6,0.5,1.7c19.8,0,39.8,0,60.8,0c-2.6,20.3-5,39.7-7.6,59.8   c-18.1,0-35.8,0-54,0c0,59.2,0,117.8,0,176.6C260.1,433.4,233.9,433.4,206.8,433.4z"/>
                                </g>
                            </svg>
                            <svg id="instagram-icon" class="icon me-3" role="button" enable-background="new 0 0 512 512" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g>
                                    <path d="M505,257c0,34.8-0.7,69.7,0.2,104.5c1.5,61.6-37.2,109.2-86.5,130.4c-19.8,8.5-40.6,13-62.1,13c-67.3,0.1-134.7,1-202-0.3   c-50.7-1-92.4-22.2-122.3-64c-15.7-22-23.2-47-23.2-74.1c0-71.7,0-143.3,0-215c0-58.5,28.5-99.4,79.1-126C110.2,14,134.1,9.1,159,9   c65.3,0,130.7-0.4,196,0.2c50.7,0.4,93,19.8,124.2,60.6c17.4,22.8,25.8,49,25.8,77.8C505,184,505,220.5,505,257z M46,257   c0,36.7,0,73.3,0,110c0,16.4,3.8,31.8,12.3,45.7c22.3,36.5,56,54.3,97.8,55c67.1,1,134.3,0.4,201.5,0.2c16.5,0,32.5-3.4,47.4-10.5   c40.6-19.4,63.3-50.3,63.1-96.7c-0.4-71-0.1-142-0.1-213c0-20.1-5.7-38.5-17.6-54.7c-23-31.1-54.8-46.4-92.8-46.8   c-67-0.8-134-0.3-201-0.2c-14.3,0-28.1,2.9-41.5,7.9c-36.8,13.7-71,48.4-69.4,99.5C46.9,188,46,222.5,46,257z"/>
                                    <path d="M257.6,363c-64.5,0-116.5-51.4-116.6-115.4c-0.1-63,52.3-114.6,116.4-114.6c64.3-0.1,116.5,51.4,116.6,114.9   C374,311.3,321.9,362.9,257.6,363z M257.6,326c43.9,0,79.5-35.1,79.4-78.3c-0.1-42.8-35.7-77.8-79.4-77.8   c-43.9,0-79.7,34.9-79.7,78C178,291.1,213.7,326.1,257.6,326z"/>
                                    <path d="M387.5,98c13.5,0,24.5,11.5,24.5,25.6c-0.1,14.1-11.2,25.5-24.7,25.4c-13.3-0.1-24.2-11.5-24.2-25.3   C363,109.6,374,98,387.5,98z"/>
                                </g>
                            </svg>
                            <svg id="telegram-icon" class="icon" role="button" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                                <path d="M16 0.5c-8.563 0-15.5 6.938-15.5 15.5s6.938 15.5 15.5 15.5c8.563 0 15.5-6.938 15.5-15.5s-6.938-15.5-15.5-15.5zM23.613 11.119l-2.544 11.988c-0.188 0.85-0.694 1.056-1.4 0.656l-3.875-2.856-1.869 1.8c-0.206 0.206-0.381 0.381-0.781 0.381l0.275-3.944 7.181-6.488c0.313-0.275-0.069-0.431-0.482-0.156l-8.875 5.587-3.825-1.194c-0.831-0.262-0.85-0.831 0.175-1.231l14.944-5.763c0.694-0.25 1.3 0.169 1.075 1.219z"/>
                            </svg>
                        </div>
                        <div class="logo text-light mt-4 pt-4 border-top border-dark text-center">
                            <a href="{{ path('movie_index') }}" class="mx-auto text-light fw-bold">
                                My Movies
                            </a>
                        </div>
                        <div id="copyright" class="d-inline-block mt-4 pt-4 border-top border-dark">
                                Copyright 2022 - All Rights Reserved - Designed by IA
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
