{% extends 'auth_base.html.twig' %}

{% block title %}
	Sign Up
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('register') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('register') }}
{% endblock %}

{% block header %}
	Have an account?
	<a href="#" class="link-light">
		Sign In.
	</a>
{% endblock %}

{% block form %}
	{% for label, messages in app.flashes(['success', 'error', 'notice']) %}
		{% if messages %}
			<div id="flash-{{ label }}" class="p-3 rounded-3 mb-3">
				<div id="flash-label" class="mb-3 text-center">
					{{ label|upper }}!
				</div>
				{% for message in messages %}
					<li class="flash-message ms-2 text-center">
						{{ message }}
					</li>
				{% endfor %}
			</div>
		{% endif %}
	{% endfor %}

	{{ form_start(form, {
                'attr': {
                    'class': 'd-flex justify-content-center align-items-center flex-column',
                },
                'method': 'POST',
            }) }}

	<div @click="loadImage" id="profile-image" role="button" title="Upload image" class="bg-white my-2 position-relative" ref="uploadImage">
		<div ref="imageIcon">
			<svg style="enable-background:new 0 0 512 512;" fill="black" version="1.1" viewbox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<g>
					<g>
						<circle cx="256" cy="256" r="250"/>
					</g>
					<path class="st1" d="M506,259.6c-0.2-0.3-0.5-0.6-0.8-1c-33.1-33.1-66.2-66.1-99.3-99.3c-2.7-2.7-5.6-3.9-9.3-3.9   c-46.6,0.1-93.1,0-139.7,0c-46.6,0-93.3,0-139.9,0c-1,0-2.1,0-3.1,0.2c-3.5,0.5-6.2,3-6.9,6.4c-0.2,1.2-0.2,2.4-0.2,3.6   c0,60.6,0,121.3-0.1,181.9c0,3.6,1.1,6.4,3.7,8.9c21.3,21.2,42.6,42.5,63.8,63.8c28.2,28.2,56.5,56.4,84.6,84.7   c0.4,0.4,0.8,0.8,1.3,1C395.1,503.8,504.1,394.6,506,259.6z"/>
					<g>
						<path fill="white" d="M114.4,357h283.2c4.6,0,8.4-3.8,8.4-8.4V163.4c0-4.6-3.8-8.4-8.4-8.4H114.4c-4.6,0-8.4,3.8-8.4,8.4v185.2    C106,353.2,109.8,357,114.4,357z M122.8,326.8l89.8-89.8l103.3,103.3H122.8V326.8z M339.6,340.2l-35.4-35.4l26.3-26.3l56.8,56.8    c0.6,0.6,1.2,1.1,1.9,1.4v3.4L339.6,340.2L339.6,340.2z M389.2,171.8v141.9l-52.8-52.8c-3.3-3.3-8.6-3.3-11.9,0L292.4,293    l-73.8-73.8c-3.3-3.3-8.6-3.3-11.9,0l-83.9,83.9V171.8H389.2z"/>
						<path fill="white" d="M291.9,251c17.5,0,31.7-14.2,31.7-31.7s-14.2-31.7-31.7-31.7s-31.7,14.2-31.7,31.7S274.4,251,291.9,251z     M291.9,204.4c8.2,0,14.9,6.7,14.9,14.9s-6.7,14.9-14.9,14.9s-14.9-6.7-14.9-14.9S283.6,204.4,291.9,204.4z"/>
					</g>
				</g>
			</svg>
		</div>
		<svg id="add-icon" class="position-absolute" version="1.1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
			<g>
				<g>
					<path d="M64.5,6.5c-32,0-58.1,26-58.1,58s26,58,58.1,58c32,0,58-26,58-58S96.5,6.5,64.5,6.5z M64.5,114.4    C37,114.4,14.6,92,14.6,64.5S37,14.6,64.5,14.6c27.5,0,49.9,22.4,49.9,49.9S92,114.4,64.5,114.4z"/>
					<path d="m91.2,59.9h-22.6v-22.7c0-2.3-1.8-4.1-4.1-4.1-2.3,0-4.1,1.8-4.1,4.1v22.6h-22.6c-2.3,0-4.1,1.8-4.1,4.1s1.8,4.1 4.1,4.1h22.6v22.6c0,2.3 1.8,4.1 4.1,4.1 2.3,0 4.1-1.8 4.1-4.1v-22.6h22.6c2.3,0 4.1-1.8 4.1-4.1s-1.8-4-4.1-4z"/>
				</g>
			</g>
		</svg>
	</div>
	{{ form_row(form.image, {
        'attr': {
            'ref': 	   'inputImage',
            'class':   'visually-hidden',
            '@change': 'showImage',
        },
        'label_attr': {
            'class': 'visually-hidden',
        },
    }) }}

	{{ form_row(form.fullName, {
                'label': 'Name',
                'label_attr': {
                    'class': 'fs-4 text-black',
                },
                'attr': {
                    'placeholder': 'Enter your name',
                    'style':       'min-width: 400px;'
                }
            }) }}

	{{ form_row(form.email, {
                'label': 'Email',
                'label_attr': {
                    'class': 'fs-4 text-black',
                },
                'attr': {
                    'placeholder': 'Enter your email',
                    'style':       'min-width: 400px;',
                    'value':        form.children.email.vars.value ?? '',
                }
            }) }}

	{{ form_row(form.password, {
                'label': 'Password',
                'label_attr': {
                    'class': 'fs-4 text-black',
                },
                'attr': {
                    'placeholder': 'Enter your password',
                    'style':       'min-width: 400px;'
                }
            }) }}

	{{ form_row(form.confirmedPassword, {
                'label': 'Confirm password',
                'label_attr': {
                    'class': 'fs-4 text-black',
                },
                'attr': {
                    'placeholder': 'Enter your password again',
                    'style':       'min-width: 400px;',
                }
            }) }}

	{{ form_row(form.newsMailing, {
                'label': 'Receive newsletter to your email',
                'label_attr': {
                    'class': 'text-black',
                },
                'attr': {
                    'checked': form.children.newsMailing.vars.value ?? 0,
                },
            }) }}

	<div id="register-services" class=" mb-3">
		<span class="text-black me-2">Sign up with:</span>
		<a href="#1">
			<svg enable-background="new 0 0 512 512" width="24px" version="1.1" viewbox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<g>
					<path d="M258.8,507.2C120.4,507.8,6.6,392.6,9.9,251.9C13,117.9,124,7.2,262,8.7C398.7,10.2,511.8,124,508.1,264.9   C504.6,398.3,394.5,507.9,258.8,507.2z M40.2,258.3C41.3,383.6,142.9,480.1,262.9,478c116.2-2.1,214.7-96.8,214.7-220   c0-125.3-102.4-222.2-222.8-219.9C138.6,40.2,41,135.2,40.2,258.3z"/>
					<path d="M206.8,433.4c0-58.9,0-117.3,0-176.3c-13,0-25.6,0-38.5,0c0-20,0-39.4,0-59.4c1.7-0.1,3.4-0.3,5.2-0.3   c9.3,0,18.7-0.2,28,0.1c4.1,0.1,5.5-1,5.4-5.2c-0.2-15.2-0.2-30.3-0.1-45.5c0.1-17.1,4.9-32.6,17.1-45c11.8-12,26.9-18.5,43.3-19.5   c26.4-1.5,52.9-1.3,79.4-1.8c0.3,0,0.6,0.3,1.2,0.6c0,20.1,0,40.3,0,61c-1.9,0.1-3.7,0.2-5.4,0.2c-12,0-24,0-36,0   c-12.1,0.1-19.2,7.3-19.2,19.2c0,11.3,0,22.7,0.1,34c0,0.3,0.2,0.6,0.5,1.7c19.8,0,39.8,0,60.8,0c-2.6,20.3-5,39.7-7.6,59.8   c-18.1,0-35.8,0-54,0c0,59.2,0,117.8,0,176.6C260.1,433.4,233.9,433.4,206.8,433.4z"/>
				</g>
			</svg>
		</a>
		<a href="#2" class="ms-2">
			<svg enable-background="new 0 0 512 512" height="21px" version="1.1" viewbox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<g>
					<path d="M428.7,69.3c-24.2,24.2-48.3,48.2-71.9,71.8c-10.2-6-20.1-12.9-30.9-17.9c-41.1-19-82.6-18.9-123.6-0.1   c-38.4,17.7-64.9,47-77.8,87.2c-16.2,50.5-7.8,97.6,25.2,139.3c23.9,30.3,55.7,47.9,94,53.3c28.6,4,56.6,0.9,83.3-9.9   c37.6-15.3,61.4-42.7,70.7-82.5c0.1-0.6,0.1-1.3,0.2-2.5c-44.4,0-88.6,0-133.1,0c0-32.3,0-64,0-96.3c2.2-0.1,4.3-0.3,6.4-0.3   c73.3,0,146.7,0.1,220-0.2c5.7,0,6.9,2.5,7.7,7c4.2,22.1,5.1,44.3,2.9,66.7c-2.6,25.8-7.8,50.9-17.4,75.1   c-19,48.1-50.2,85.9-94.6,112.5C337.3,504,280.3,513,220.5,502.8c-57.6-9.9-105.9-37.6-144.5-81.5c-24.8-28.2-42-60.6-52.1-96.8   s-11.8-73-5.7-109.9C25.6,170.2,44,130.5,73.1,96c34.1-40.4,76.7-67.8,127.9-80.7c62.7-15.8,123.2-9.2,180.6,21.5   C398.6,45.9,414.3,56.8,428.7,69.3z"/>
				</g>
			</svg>
		</a>
	</div>

	{{ form_row(form.submit, {
                'label': 'Sign Up',
                'attr': {
                    'class': 'btn-dark',
                    'style': 'min-width: 400px;',
                }
            }) }}

	{{ form_rest(form) }}

	{{ form_end(form) }}
{% endblock %}
